
.show-btn{
    width: auto;
    padding: 1rem;
    border-radius: 2rem;
}

.show-btn > a{
    all:unset;
    font-size: 1.2rem;
    color: var(--default-text-white);
    
}

.gallery-cont{
    min-width:50vw;
    min-height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.gallery-img{
    width:100%;
    font-size: 200px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.gallery-img.visible{
    opacity: 1;
    transform: translateX(0);
}

#show-gallery{
    max-height:50vh;
    max-width:100%;
    display: flex;
}

#show-gallery > img {
    object-fit: contain;
    width:70%;
}

.show-gallery-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columns */
    gap: .2rem; /* Gap between grid items */
}

.show-gallery-grid > img{
    object-fit: contain;
}

@media screen and (min-width:601px) {
    #show-gallery{
        justify-content: space-between;
        flex-direction: row;
    }
    #show-gallery > img {
        object-fit: contain;
        width:70%;
    }
    .show-gallery-grid{
        overflow-y: auto;
        overflow-x: hidden;
        grid-template-columns: repeat(2, 1fr); /* 4 columns */
        margin-left:1rem;
        gap: .5rem;
        width:30%;
        
    }


}

@media screen and (max-width:600px) {
    #show-gallery{
        justify-content: space-evenly;
        flex-direction: column;
    }
    #show-gallery > img {
        object-fit: contain;
        width:100%;
    }
    .show-gallery-grid{
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
        gap: 10px; /* Gap between grid items */
        padding: 0rem; /* Padding around the grid */
        margin:0rem;
        margin-top:1rem;
        min-width:100%;
    }

}

.show-gallery-grid > img{
    width:100%;

}

#bike-info{
    margin-bottom: 1.5rem;
}

#bike-info > h3{
    color: var(--default-text-white);
    font-size: 2rem;
}

#bike-info > h3 > span{
    all:unset;
    font-size:1.5rem;
}

#bike-info > ul{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

#bike-info span{
    font-weight: 600;
}