


#search-comp{
  width:100%;
}

#search-form{
  display: flex;
  align-items: center;
  max-height:30px;
  width:100%;
}



#search-form > input{
  width:100%;
  min-height:100%;
  padding:10px
}


#search-form > button{
  min-width:13%;
  font-size:16px;
  font-weight:600;
  padding:8px;
  border-radius: 1rem;
}

.modal-overlay{
  position: absolute;
  min-height: 100%;
  width:100%;
}




#search-res{
  margin:0;
  position:relative;
  border: .1rem solid var(--text-color-blk);
  max-height:30vh;
  overflow-y: auto;
  overflow-x: hidden;
  width:60%;
}
#search-res > ul
{
  width: 100%;
  height:100%;
}

.drop-down-itm{
  color: var(--text-color-blk);
  font-size:30px;
  width:100%;
}

.drop-down-itm:hover{
  background-color: var(--text-color-blk);
  color: white;
}