/* Navbar.css */

nav {
    position:relative;
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f2f2f2;
    max-width:100vw;
    white-space: nowrap;
  }
  
  nav > ul {
    list-style: none;
    display: flex;
    gap:1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  nav > ul > li {
    margin: 0 1rem;
  }

  nav > ul > li > a {
    min-width:100%
  }
  
  nav > ul > li:first-child {
    margin-left: 0;
  }
  
  nav > ul > li> a {
    color: inherit;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
  

  nav a:hover {
    color: var(--color-stone-400);
  }


  nav .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--color-stone-950); /* Adjust as needed */
    transition: all 0.3s ease-in-out;
    
  }