.gallery-cont {
    min-height: inherit;
    min-height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  


.gallery-slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom:0;
    right:0;
    min-width:30%;
    min-height:2rem;
    background-color: black;
    border-radius: 2rem;
    border: solid 1px white;
}


.gallery-slider::after{
    filter: blur(3.5);
}


.gallery-item-name{
    font-size: 4rem;
    position:absolute;
    bottom:2rem;
    flex-wrap: wrap;
}

.gallery-img{
    max-width: 80%;
    min-width: 80%;
    font-size: 200px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.gallery-img.visible{
    opacity: 1;
    transform: translateX(0);
}

.gallery-slider-btn{
    min-height: 1rem;
    border-radius: 3rem;
}

.active-slider-btn,
.gallery-slider-btn:active{
    background-color: var(--color-zinc-800);
}

