#adv-search-form{
    padding-bottom: 1rem;
    transition: max-height 0.3s ease;
}

#adv-search-form> div > label{
    color: var(--default-text-white);
}

.adv-search-btns{
    border-radius: 1rem;
    padding: .5rem;
    margin:.5rem
}
