#bikes-grid{
    display: grid;
    min-width: 70vw;
    min-height:70vh;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    grid-gap: .2rem;
    border: 1px solid var(--default-text-white);
}

.bike{
    min-width:33%;
    min-height:33%;
    border: 1px solid red;
    color: var(--default-text-white);
    font-size:18px; 
    
}