#bikes-grid{
    display: grid;
    min-width: 70vw;
    min-height:70vh;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    grid-gap: .2rem;
    border: 1px solid var(--default-text-white);
}

.bike-itm-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bike-img{
    max-width:50%
}

.info-holder{
    padding-left: 1rem;
    width:50%
}

.info-holder > *{
    font-size: .9rem;
}

.bike > h4{
    font-size: 1.5rem;
}

.bike{
    min-width:33%;
    min-height:33%;
    border: 1px solid white;
    color: var(--default-text-white);
    font-size:1rem; 
    padding-left: 1rem;    
}

.bike-itm-body > img{
    object-fit:contain;
    height:60%;
    width: 60%;
}

.disabled{
    pointer-events: none;
    opacity: 0.6; 
    cursor: not-allowed; 
}


#page-changer{
    margin-top: 1rem;
}

#page-changer > button {
    height:30px;
    width: 30px;
}

.lr-button{
    min-width:60px;
}

#l-btn{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#r-btn{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


@media screen and (max-width: 600px) {

    #bikes-grid{
        grid-template-columns:repeat(1, 1fr);
        max-height:400px;
        overflow-y: scroll;
    }
    .bike{
        padding-left: 0rem;
        min-height:auto;
    }



    .bike-itm-body{
        display: flex;
        flex-direction: column;
    }

    .bike-itm-body > img{
        object-fit:contain;
        min-height:80%;
        min-width: 80%;
        margin-bottom: 1rem;
    }

    .info-holder{
        padding-left:0rem;
        display: none;
    }
}
