
#bike-page-main{
    width:100%;
}

#bikes-grid{
    display: grid;
    min-width: 100%;
    grid-gap: .2rem;
    
}


.bike{
    align-items: center;
    width:97%;
    height:42rem;
    color: var(--default-text-white);
    font-size:1rem; 
    border: solid 1px var(--default-border-purple);
}


@media screen and (min-width:851px) {
    #bikes-grid{
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    #bikes-grid{
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr);
    }
}



.name-holder{
    margin-top: 1.6rem;
    height:3rem;
    width:100%
}
.bike-name {
    font-size: 20px;
    margin:0.5rem;
}
  

.bike > img{
    margin-top: 1rem;
    object-fit:cover;
    width:95%;
}

.bike > ul {
    margin-top:1rem; 
    width:100%;
    padding-left:3rem;
}

.bike > ul > li {

    all: unset;
}

.bike-attr{
    font-weight: 600;
}

.price{
    font-size: 28px;
    font-weight: 700;
}


.disabled{
    pointer-events: none;
    opacity: 0.6; 
    cursor: not-allowed; 
}

.bike-btn-holder{
    padding-top:2rem;
    padding-left: 2rem;
    min-width: 100%;

}

.bike-btn-holder > button{
    min-width:15%;
    font-size:16px;
    font-weight:600;
    min-height: 2rem;
    padding:1rem;
    border-radius: 2rem;
    margin-left:.5rem;
    transition: background-color 0.3s, border-color 0.3s;

}



#page-changer{
    margin-top: 1rem;
}

#page-changer > button {
    height:30px;
    width: 30px;
}

.lr-button{
    min-width:60px;
}

#l-btn{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#r-btn{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


/* @media screen and (min-width: 601px) {
    
    #bikes-grid .bike:first-child{
        border-top-left-radius: 3rem;
    }
    #bikes-grid .bike:nth-child(3){
        border-top-right-radius: 3rem;
    }
    #bikes-grid .bike:nth-child(4){
        border-bottom-left-radius:3rem;
    }
    #bikes-grid .bike:last-child{
        border-bottom-right-radius:3rem;
    }

}
 */



@media screen and (max-width: 600px) {

    #bikes-grid{
        grid-template-columns:repeat(1, 1fr);
        max-height:60vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .bike{
        padding-left: 0rem;
        min-height:auto;
    }



    .bike-itm-body{
        display: flex;
        flex-direction: column;
    }

    .bike-itm-body > img{
        object-fit:contain;
        min-height:80%;
        min-width: 80%;
        margin-bottom: 1rem;
    }

    .info-holder{
        padding-left:0rem;
        display: none;
    }
}
